        
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+US+Trad+Guides&display=swap');
        *{
  font-family: "Playwrite US Trad Guides", cursive;
  font-weight: 400;
  font-style: normal;

        }
        p
        { color: rgb(255, 255, 255) !important;
        font-size: 25px !important;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;

        }

        h1, p{
            color: rgb(160, 50, 50);
        }

        body {
            color: aliceblue;
            background-color: rgb(50, 25, 74);
        
        }
