.contenedor {
  height: 300px;
  overflow-y: scroll;
  border: 3px solid black;
  padding: 10px;
}

.sticky {

  position: sticky;
  
  top: 0;
  background-color: yellow;
  padding: 10px;
  border: 2px solid orange;
  font-weight: bold;
}

/* Sticky se comporta como relative hasta que alcanza el
   valor de top, momento en que queda fijo dentro del contenedor. */
